.jumbotron(ng-if="loggedIn()")
	.container	
		.row
			.col-md-3
			.col-md-6
				if (user)
				div(ng-if="started()")
					.alert.alert-warning(ng-show='warning') {{ warning }}
					bm-timer(time='time', duration='duration')
					.guess-field(key-listener='handleKey')
						.guess-field-inner
							button.close(aria-hidden="true", ng-click="leave()") &times;
							p {{ word }}
							.input-group
								input.form-control.input-lg(ng-model="letter", type="text", placeholder="Enter your guess!")
								span.input-group-btn
									button.btn.btn-primary.btn-lg.btn-success(ng-disabled="complete()", click="guess()") Guess
					
					p.guesses.text-center			
						span.label.label-info(ng-repeat="guess in guesses", ng-show="guess.length > 0") {{ guess }}
							
				div(ng-if="!started()")
					h1 Available games
					p.lead Choose a game from the list below and dive right into!
					ul.list-group(class='games')
						li.list-group-item(ng-repeat='game in games') 
							a(id="{{ game.name }}", ng-click="join(game.name)", href='#') Join {{ game.name }} 
			.col-md-3