.row(ng-if="loggedIn()")
	.col-md-1
	.col-md-10
		h1(id="greeting") Bangman :) Hey: {{ username }}
		p(id="countdown") {{ time }}
		.jumbotron(ng-if="started()")
			.well.well-lg
				span(id='match') Guessed Word: {{ word }}
			form(role='form', ng-submit="guess()")
				.form-group
					label(for='letter') Submit your guess
					input.form-control#letter(ng-model="letter", type="text", placeholder="Enter a letter!")
				input.btn.btn-primary(id="guess", type="submit", value="Guess!")
		.jumbotron(ng-if="!started()")
			.well.well-lg
				.form-group
					span A game is currently running. Waiting for new game to start.
				input.btn.btn-primary(id="join", ng-click="join()", type="submit", value="Join Now!")
	.col-md-1
