.container	
	.row(ng-if="loggedIn()")
		.col-md-1
		.col-md-10
			if (user)
			div(ng-if="started()")
				.alert.alert-warning(ng-show='warning') {{ warning }}
				bm-timer(time='time', duration='duration')
				div.guess-field(key-listener='handleKey')
					p {{ word }}
				form(role='form', ng-submit="guess()")
					.form-group
						label(for='letter') Submit your guess
						input.form-control#letter(ng-model="letter", type="text", placeholder="Enter a letter!")
					div(ng-if="!complete()")
						input.btn.btn-primary(id="guess", type="submit", value="Guess!")
						input.btn.btn-primary(ng-click="leave()", id="leave", type="button", value="Leave")
					div
						label(for='guesses') Guesses
						input.form-control#guesses(ng-model="guesses", type="text", readonly)
			div(ng-if="!started()")
				h1 Available games
				p.lead Choose a game from the list below and dive right into!
				ul.list-group(class='games')
					li.list-group-item(ng:repeat='game in games') 
						a(id="{{ game.name }}", ng-click="join(game.name)", href='#') Join {{ game.name }} 
		.col-md-1