.row(ng-if="loggedIn()")
	.col-md-1
	.col-md-10
		h1(id="greeting") Bangman :) Hey: {{ username }}
		.jumbotron
			.well.well-lg
				span(id='match') Guessed Word: {{ word }}
			form(role='form', ng-submit="guess()")
				.form-group
					label(for='letter') Submit your guess
					input.form-control#letter(ng-model="letter", type="text", placeholder="Enter a letter!")
				input.btn.btn-primary(id="guess", type="submit", value="Guess!")
	.col-md-1
