.row(ng-if="loggedIn()")
	.col-md-1
	.col-md-10
		.jumbotron
			.well.well-lg
				span(ng-if="complete()") You win!
				span(ng-if="!complete()") You lost!
				div Next game starts in {{ time }}.

.row(ng-if="!loggedIn()")
	div Please log in