html,
body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 730px !important;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.info {
  padding: 50px 0;
}

.logo {
  padding-bottom: 40px;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #333333;
    text-shadow: none;
    background-color: #ffffff;
    border-color: #ffffff;
}

/* HEADER */
.header {
  background: url(/landingpage/img/bg_blurred_24.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

.bottom {
  bottom: 20px;
  position: absolute;
  width: 100%;
}

/* CALLOUT */
.callout {
  background: url(/landingpage/img/bg_blurred_05.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  display: table;
  height: 200px;
  width: 100%;
}

.header img,
.description img {
  margin-top: 20px;
}

/* FOOTER */
footer {
  border-top: 1px solid #eeeeee;
  color: #eeeeee;
  margin-top: 2em;
  padding-top: 2em;
}

footer a {
  color: #dddddd;
}

footer.container {
  padding-left: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
	   background: url(/landingpage/img/bg_blurred_24.jpg) no-repeat center center scroll; 
  }
}
