/* Full size?

html,
body {
  height: 100%;
  width: 100%;
}*/

.container {
  max-width: 730px;
}

.info {
  padding: 50px 0;
}

/* HEADER */
.header {
  background: url(/landingpage/img/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  padding: 100px 0 150px 0;
  position: relative;
  width: 100%;
}

.bottom {
  bottom: 20px;
  position: absolute;
  width: 100%;
}

/* CALLOUT */
.callout {
  background: url(/landingpage/img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  height: 200px;
  width: 100%;
}

/* FOOTER */
footer {
  border-top: 1px solid #eeeeee;
  color: #eeeeee;
  margin-top: 2em;
  padding-top: 2em;
}

footer.container {
  padding-left: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
	   background: url(/landingpage/img/header.jpg) no-repeat center center scroll; 
  }
}
