if (!user)
    form(action='/login', method='post', id='login-form')
        div.error#errors= message
        div
            label Username:
            input(type='text', name='email', id="email")
            label Password:
            input(type='password', name='password')
            input(type='submit', value='Log In', id='login-btn')
if (user)
  p You are currently logged in as #{user.email}
  a(href="/logout") Logout