form(action='/login', method='post', id='login-form')
  div.error#errors=message
  div.info#info=info
  div
    label Username:
    input(type='text', name='email', id="email")
    label Password:
    input(type='password', name='password', id="password")
    input(type='submit', value='Log In', id='login-btn')