if (!user)
  include login
  include register
if (user)
  div(ng-controller='MainCtrl')
    p(id="welcome") You are currently logged in as #{user.email}, Credits: {{ credits }}
    a(href="/logout") Logout
