h2 Register
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/register', method='POST')
  #reg-email
    label(for='reg-email') Email
    input(type='text', name='email', value='email')
  #reg-password
    label(for='reg-password') Password
    input(type='password', name='password', value='password'  )
  #reg-submit
    input(type='submit', id='register-btn') Register