<div>
	<p>Guessed Word: {{ word }}</p>
</div>
<div>
	<form ng-submit="guess()">
		<input ng-model="letter" type="text" placeholder="Enter a letter!" /> <input type="submit" value="guess" />
	</form>
</div>
