html(ng-app='bangman')
block head
  title Bangman
  link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/game.css', rel='stylesheet')
  script(src='/components/jquery/jquery.min.js')
  script(src='/components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/components/d3/d3.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-route/angular-route.min.js')
  script(src='/js/app.js')
  script(src='/js/services.js')
  script(src='/js/controllers.js')
  script(src='/js/directives.js')
  block body
    include userpanel/main      
    .jumbotron(ng-view='ng-view')
