html(ng-app='bangman')
head
    title Bangman
    script(src='/socket.io/socket.io.js')
    script(src='/js/lib/angular-1.2.0.js')
    script(src='/js/lib/angular-route-1.2.0.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    body
      p bangman :)
      span Welcome #{user.email}
      div(ng-view='ng-view')
