!!! 5
html(ng-app='landingpage')
  head
    title Welcome to bitbetwin.co
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/landingpage/css/style.css', rel='stylesheet')
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/retina.js/src/retina.js')
    script(src='/js/app.js')
    script(src='/js/controllers.js')
    script(src='/components/holderjs/holder.js')
    
  body(ng-controller='LandingpageCtrl')
    section.header.jumbotron
      .container
        .row
          .col-md-12
            p.text-center.logo
              img(src='/landingpage/img/bitbetwin_logo_white.png')
        .row(ng-show='response.msg')
          .col-md-12
            .alert.alert-success(ng-if='!response.err') {{ response.msg }}
            .alert.alert-danger(ng-if='response.err') {{ response.msg }}
        .row
          .col-md-7.teaser
            h1 Real-time Bitcoin Games 
            p Bitbetwin is a platform allowing you to play <strong>real-time games</strong> against other players and <strong>win Bitcoins</strong> in each round!
            p
              small
                |At the moment we are developing our first game and want to invite you to our beta program, to get early feedback from our future participants.
                |Fill out the form to apply for the beta program!
          .col-md-5
            form.form-subscribe.well(role='form', ng-submit='subscribe()', name='subscribe_form', novalidate)
              p Apply for the beta program!
              .form-group(ng-class='{\'has-error\': subscribe_form.name.$dirty && subscribe_form.name.$invalid}')
                input.form-control.input-lg(ng-model='name', type='text', name='name', placeholder='Name', required, bs-tooltip='tooltip', data-placement='right', data-type='right', data-trigger='manual')
                span.help-block.has-error(ng-show='subscribe_form.name.$dirty && subscribe_form.name.$error.required') Please enter your name
              .form-group(ng-class='{\'has-error\': subscribe_form.email.$dirty && subscribe_form.email.$invalid}')
                input.form-control.input-lg(ng-model='email', type='email', name='email', placeholder='Email', required)
                span.help-block.has-error(ng-show='subscribe_form.email.$dirty && subscribe_form.email.$error.required') Please enter your email
                span.help-block.has-error(ng-show='subscribe_form.email.$dirty && subscribe_form.email.$error.email') Please enter a valid email
              button.btn.btn-primary.btn-lg.btn-block(type='submit', ng-disabled="subscribe_form.$invalid") Sign Up!
        .row
          .col-md-4
          .col-md-4
            a.btn.btn-outline-inverse.btn-lg.center-block.more(href='#more') More Information?
          .col-md-4
    section.container.info#more
      .row
        .col-md-4
          p.text-center
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-btc.fa-inverse.fa-stack-1x
          h2.text-center Bitcoins
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-md-4
          p.text-center
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-clock-o.fa-inverse.fa-stack-1x
          h2.text-center Time
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-md-4
          p.text-center
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-check.fa-inverse.fa-stack-1x
          h2.text-center Fair
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    section.callout.jumbotron
      .vert-text
        h1 Our Vision
    section.container.description
      .row
        .col-md-7
          h2 Heading
          p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-md-5
          img.img-rounded(src='holder.js/100%x200/grey')
      .row
        .col-md-5
          img.img-rounded(src='holder.js/100%x200/grey')
        .col-md-7
          h2 Heading
          p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    footer.container
      p &copy; 2014 bitbetwin.co | Images provided by <a href="http://designmodo.com">http://designmodo.com</a>
    script
      $(function() {
        // Smooth scrolling
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });

        // Header effect
        //- var $window = $(window);
        //- var $header = $('.header');
        //- var $headerContainer = $('.header .container');
        //- $window.scroll(function() {
        //-   var headerHeight =$header.height();
        //-   var offsetTop = $window.scrollTop();
        //-   if (offsetTop > headerHeight * 0.2) {
        //-     $headerContainer.css('opacity', 1.0 - (offsetTop / headerHeight) );
        //-   } else {
        //-     $headerContainer.css('opacity', 1.0);
        //-   }
        //- });
      });
  // Theme based on http://startbootstrap.com/stylish-portfolio
