!!! 5
html(ng-app='landingpage')
  head
    title Welcome to bitbetwin.co
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/landingpage/css/style.css', rel='stylesheet')
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
  body
    section.header(ng-controller='LandingpageCtrl')
      .container
        .row
          .col-sm-5
            h1 Welcome!
            p.lead Fill out the form below and apply for the beta program.
            .alert.alert-success.alert-dismissable(ng-show='response') {{ response.msg }}
            form.form-signin(role='form')
              .form-group
                input.form-control.input-lg(ng-model='name', type='text', name='name', placeholder='Name')
              .form-group
                input.form-control.input-lg(ng-model='email', type='text', name='email', placeholder='Email')
              button.btn.btn-primary.btn-lg.btn-block(ng-click='signup()', type='submit') Sign Up!
          .col-sm-7
      p.text-center.bottom 
        a.btn.btn-default.btn-lg(href='#more') More Information?
    section.container.info#more
      .row
        .col-sm-4
          h2.text-center Heading
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-sm-4
          h2.text-center Heading
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-sm-4
          h2.text-center Heading
          p.text-center Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    section.callout
    section.container
      .row
        .col-sm-7
          h2 Heading
          p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        .col-sm-5
      .row
        .col-sm-5
        .col-sm-7
          h2 Heading
          p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    footer.container
      p &copy; 2014 bitbetwin.co
    script
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
  // Images from href='http://designmodo.com/blurred-backgrounds/ and http://deathtothestockphoto.com
  // Theme based on http://startbootstrap.com/stylish-portfolio
